.chat-box {
  position: fixed;
  right: 20px;
  bottom: 20px;
  
}

.chat-history-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 2000;
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
}

.show-chat-history .chat-history-overlay {
  display: block;
}

.chat-message {
  background: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 5px 10px;
  background: #ff4444;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.chat-input {
  border: none;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.chat-buttons {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.chat-buttons button {
  flex: 1;
  margin: 0 5px;
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.chat-buttons button:hover {
  background-color: #0056b3;
}

.chat-input:focus {
  outline: none;
}


.chat-history {
  flex-grow: 1;
  overflow-y: auto;
}
